#calculator-input {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 5rem;
    padding: 2rem;
    background-color: #5885AF;

}

#generate-button {
    width: 20rem;
    height: 2rem;
    align-self: center;
    cursor: pointer;
    background-color: #274472;
    color: white;
    border-radius: 5px;
    border: none;
}

body {
    background-color: #C3E0E5;
}

/* #41729F */